.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f5f5f5;
}
.welcome{
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #333;
}
.form{
    display: flex;
    flex-direction: column;
    width: 300px;
}
.input{
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    color:#333;
}
.button{
    padding: 0.5rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
}