.container{
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
    height: 100vh;
    background-color: #ccc;
}
.title{
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    color: #00796b;
}
.table{
    width: 80%;
    border-collapse: collapse;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    color: #004d40;

}
.input{
    padding: 0.75rem;
    margin-bottom: 1.25rem;
    border: 1px solid #999;
    border-radius: 6px;
    color:#004d40;

}
.table th, 
.table td{
    border: 1px solid #ccc;
    padding: 0.75rem;
    text-align: left;
}
.form{
    display: flex;
    flex-direction: vertical;
    width: 400px;
    margin-top: 2rem;
    margin-left: -350px;
}
.button{
    padding: 0.75rem;
    background-color: #00796b;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    flex-direction: vertical;
    margin-bottom: 20px;
}
.searchInput{
    padding: 0.5rem;
    margin: 1rem 0;
    border: 1px solid #999;
    border-radius: 6px;
    color:#004d40;

}
.student{
    font-weight: bold;
    color: #00796b;
}
.page{
    color:#004d40;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
}